.news-list {
   .news-box {
      display: flex;
      align-items: center;
      padding: 20px 40px 20px 20px;
      border-radius: 10px;
      margin-bottom: 30px;
      background: #fff;
      position: relative;
      .fa-btn {
         position: absolute;
         right: 10px;
         top: 0;
         bottom: 0;
         color: rgb(240, 56, 56);
      }
      img {
         width: 100px;
         height: 100px;
         border-radius: 100px;
         margin-right: 30px;
      }
   }
}
