.feed-back {
   form {
      max-width: 600px;
      .form-group {
         .form-control {
            padding: 15px;
         }
      }
   }
   .css-319lph-ValueContainer {
      padding: 12px 15px;
   }
   .PhoneInputInput {
      border: none;
      &:focus-visible {
         outline: -webkit-focus-ring-color auto 0px;
      }
   }
   .submit-btn {
      background: #9cf4cc;
      color: #333;
      font-weight: 600;
      width: 200px;
      padding: 15px 0;
      border-radius: 10px;
   }
}
