.feed-back {
   form {
      .form-group {
         .form-control {
            padding: 15px;
         }
      }
   }
   .submit-btn {
      background: #9cf4cc;
      color: #333;
      font-weight: 600;
      width: 200px;
      padding: 15px 0;
      border-radius: 10px;
   }
}
