.news-card {
   .col-md-6.col-lg-4 {
      position: relative;
      .fa-btn {
         position: absolute;
         right: 15px;
         top: 18px;
         color: rgb(240, 56, 56);
         z-index: 1;
      }
   }
   .news-box {
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 30px;
      background: #fff;
      position: relative;
      cursor: pointer;
   }
}
