* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: "Pacifico", cursive;
   font-family: "PT Sans Narrow", sans-serif !important;
   background: #f7f7f8;
   color: #013d59 !important;
}

h1 {
   font-size: 64px !important;
   font-weight: 700 !important;
   font-family: "PT Sans Narrow", sans-serif;
}
h2 {
   font-size: 48px !important;
   font-weight: 700 !important;
   font-family: "PT Sans Narrow", sans-serif;
}
h3 {
   font-size: 32px !important;
   font-weight: 600 !important;
   font-family: "PT Sans Narrow", sans-serif;
}
h4 {
   font-size: 24px !important;
   font-weight: 600 !important;
   font-family: "PT Sans Narrow", sans-serif;
}
h5 {
   font-size: 18px !important;
   font-weight: 600 !important;
   font-family: "PT Sans Narrow", sans-serif;
}

.link {
   text-decoration: none;
   color: #121619;
   transition: 0.4s;
   &:hover {
      color: #fe9d3e;
   }
}

.btn-black {
   background: #121619;
   border: 1px solid #121619;
   text-transform: uppercase;
   color: #fff;
   font-weight: 600;
   height: 50px;
   width: 175px;
   border-radius: 100px;
   transition: 0.4s;
   &:hover {
      background: transparent;
      color: #121619;
   }
}
.btn-orange {
   background: #fe9d3e;
   border: 1px solid #fe9d3e;
   text-transform: uppercase;
   color: #fff;
   font-weight: 600;
   height: 50px;
   width: 175px;
   border-radius: 100px;
   transition: 0.4s;
   &:hover {
      background: transparent;
      color: #fe9d3e;
   }
}

.hamburger {
   width: 32px;
}

.top-box {
   background: #fff;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   .main-row {
      height: 80vh;
      width: 80vw;
      overflow: hidden;
      border-radius: 20px;
      .main {
         height: 100%;
         overflow: auto !important;
         background: #f7f7f8;
         padding: 30px !important;
      }
   }
}

.paginateBtns {
   text-align: center;
   width: 100%;
   height: 50px;
   li {
      list-style: none;
      display: inline-block;
      background: #fff;
      margin: 3px;
      a {
         height: 40px;
         display: block;
         width: 40px;
         padding-top: 8px;
      }
   }
   .nextBtn,
   .previousBtn {
      background: #333;
      color: #fff;
      text-decoration: none;
   }
   .disabledBtn {
      background: red !important;
   }
   .activeBtn {
      background: green !important;
   }
}
